@use "../../scss/globals";

// Badge
// --------------------------------------------------

/// @prop - Padding top
$padding-top:               globals.$font-size-base * .2 !default;

/// @prop - Padding end
$padding-end:               globals.$font-size-base * .5 !default;

/// @prop - Padding bottom
$padding-bottom:            $padding-top !default;

/// @prop - Padding start
$padding-start:             $padding-end !default;

/// @prop - Minimum width
$min-width:                 10px !default;

/// @prop - Font size
$font-size:                 80% !default;

/// @prop - Font weight
$font-weight:               globals.$font-weight-bold !default;

/// @prop - Border radius
$border-radius:             globals.$border-radius !default;

