@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";

//
// Cards header
// --------------------------------------------------

@use "card-header.vars" as *;

.card-header {
  /**
   * @prop --padding-top: Top padding
   * @prop --padding-end: Right padding if direction is left-to-right, and left padding if direction is right-to-left
   * @prop --padding-bottom: Bottom padding
   * @prop --padding-start: Left padding if direction is left-to-right, and right padding if direction is right-to-left
   */
  --padding-top: #{$padding-top};
  --padding-end: #{$padding-end};
  --padding-bottom: #{$padding-bottom};
  --padding-start: #{$padding-start};

  @include mixins.padding-set(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));
  display: block;

  position: relative;
}
