@use "../../scss/globals";


// Card header
// --------------------------------------------------

/// @prop - Padding top
$padding-top:               globals.$spacer !default;

/// @prop - Padding end
$padding-end:               globals.$default-spacer * .75 !default;

/// @prop - Padding bottom
$padding-bottom:            $padding-top !default;

/// @prop - Padding start
$padding-start:             $padding-end !default;
