// Landing
.landing-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  min-height: 300px;
}

.landing-section {
  padding: 48px 0 !important;

  .col {
    --grow: 1;
    --basis: 0%;
    flex: var(--grow) 0 var(--basis);
    width: var(--basis, auto);
    min-width: 0px;
    max-width: 100%;
  }

  @media (min-width: 997px) {
    .col-5 {
      --grow: 0;
      --basis: calc((5 / var(--columns, 12)) * 100%);
    }
  }
}

.landing-title {
  font-size: 3rem;
  font-weight: 900;
}

.landing-title-black {
  font-weight: 900;

  svg {
    fill: var(--ifm-font-color-base);
    width: 100%;
    font-family: var(--ifm-font-family-base);
  }
}

.landing-icon {
  height: 4rem;
}

.landing-disabled {
  opacity: 0.2;
  pointer-events: none;
}
