html[data-theme="light"] {
    --ifm-tabs-bg-c: var(--ifm-color-gray-100);
    --ifm-tabs-bg-c-active: var(--ifm-color-gray-0);
    --ifm-tabs-color: var(--c-indigo-90);
    --ifm-tabs-color-active: var(--c-carbon-100);
    --tabs-border-c: var(--c-indigo-40);
}

html[data-theme="dark"] {
    --ifm-tabs-bg-c: var(--ifm-color-gray-900);
    --ifm-tabs-bg-c-active: var(--ifm-color-gray-800);
    --ifm-tabs-color: #fff;
    --ifm-tabs-color-active: #fff;
    --tabs-border-c: #fff;
}

:root {
    --ifm-tabs-padding-horizontal: 1.3rem;
    --ifm-tabs-padding-vertical: 0.625rem;

    --ifm-tabs-spacing: 0.5rem;
}

.tabs {
    display: inline-flex;
    background: var(--ifm-tabs-bg-c);
    padding: 4px;
    border-radius: 20px;

    .tabs__item {
        font-weight: 500;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: 0;

        border-radius: 1000px;
        border: 1px solid rgba(0, 0, 0, 0);

        padding: var(--ifm-tabs-padding-vertical) var(--ifm-tabs-padding-horizontal);

        transition: border-color 0.2s ease-out, opacity 0.2s ease-out;

        + .tabs__item {
            margin-inline-start: var(--ifm-tabs-spacing);
        }

        &:hover {
            background-color: inherit;

            &:not(.tabs__item--active) {
                opacity: 0.4;
            }
        }

        &--active {
            background: var(--ifm-tabs-bg-c-active) !important;
            box-shadow: 0 1.5px 2.5px 0 rgba(var(--box-shadow-color, 0, 0, 0), 0.1), 0 6px 5px 0 rgba(var(--box-shadow-color, 0, 0, 0), 0.12), 0 0.6px 10px 0 rgba(var(--box-shadow-color, 0, 0, 0), 0.08);
        }
    }
}

.tabs-container > div {
    margin-block-start: 0.75rem !important;
}
