@use "../../scss/globals";

// Paginator
// --------------------------------------------------

/// @prop - Minimum height of the paginator content
$paginator-content-min-height:              84px !default;

/// @prop - Margin top of the paginator loading icon
$paginator-loading-margin-top:              0 !default;

/// @prop - Margin end of the paginator loading icon
$paginator-loading-margin-end:              0 !default;

/// @prop - Margin bottom of the paginator loading icon
$paginator-loading-margin-bottom:           0 !default;

/// @prop - Margin start of the paginator loading icon
$paginator-loading-margin-start:            $paginator-loading-margin-end !default;

/// @prop - Margin top of the paginator loading text
$paginator-loading-text-margin-top:         4px !default;

/// @prop - Margin end of the paginator loading text
$paginator-loading-text-margin-end:         32px !default;

/// @prop - Margin bottom of the paginator loading text
$paginator-loading-text-margin-bottom:      0 !default;

/// @prop - Margin start of the paginator loading text
$paginator-loading-text-margin-start:       $paginator-loading-text-margin-end !default;
