@use "../../scss/globals";
@use "../../scss/functions";
@use "../item/item.vars" as item;

// Alert
// --------------------------------------------------

/// @prop - Minimum width of the alert
$min-width:                                       auto !default;

/// @prop - Maximum height of the alert
$max-height:                                      90% !default;

/// @prop - Line height of the alert button
$button-line-height:                              20px !default;

/// @prop - Font size of the alert button
$button-font-size:                                14px !default;

/// @prop - Minimum height of a textarea in the alert
$input-min-height:                                37px !default;

/// @prop - Font size of the alert
$font-size:                                   14px !default;

/// @prop - Max width of the alert
$max-width:                                   720px !default;

/// @prop - Border radius of the alert
$border-radius:                               globals.$border-radius-lg !default;

/// @prop - Background color of the alert
$background-color:                            var(--bkkr-background-color) !default;

/// @prop - Box shadow of the alert
$box-shadow:                                  none !default;

/// @prop - Padding top of the alert head
$head-padding-top:                            12px !default;

/// @prop - Padding end of the alert head
$head-padding-end:                            16px !default;

/// @prop - Padding bottom of the alert head
$head-padding-bottom:                         7px !default;

/// @prop - Padding start of the alert head
$head-padding-start:                          $head-padding-end !default;

/// @prop - Text align of the alert head
$head-text-align:                             left !default;

/// @prop - Color of the alert title
$title-color:                                 globals.$theme-text-color !default;

/// @prop - Margin top of the alert title
$title-margin-top:                            8px !default;

/// @prop - Font size of the alert title
$title-font-size:                             17px !default;

/// @prop - Font weight of the alert title
$title-font-weight:                           600 !default;

/// @prop - Font size of the alert sub title
$sub-title-font-size:                         14px !default;

/// @prop - Text color of the alert sub title
$sub-title-text-color:                        globals.$theme-text-color-step-400 !default;

/// @prop - Padding top of the alert message
$message-padding-top:                         0 !default;

/// @prop - Padding end of the alert message
$message-padding-end:                         16px !default;

/// @prop - Padding bottom of the alert message
$message-padding-bottom:                      21px !default;

/// @prop - Padding start of the alert message
$message-padding-start:                       $message-padding-end !default;

/// @prop - Font size of the alert message
$message-font-size:                           13px !default;

/// @prop - Text align of the alert message
$message-text-align:                          left !default;

/// @prop - Text color of the alert message
$message-text-color:                          globals.$theme-text-color !default;

/// @prop - Padding top of the alert empty message
$message-empty-padding-top:                   0 !default;

/// @prop - Padding end of the alert empty message
$message-empty-padding-end:                   0 !default;

/// @prop - Padding bottom of the alert empty message
$message-empty-padding-bottom:                12px !default;

/// @prop - Padding start of the alert empty message
$message-empty-padding-start:                 0 !default;

/// @prop - Flex wrap of the alert button group
$button-group-flex-wrap:                      wrap !default;

/// @prop - Flex of the alert button
$button-flex:                                 1 1 auto !default;

/// @prop - Margin of the alert button
$button-margin:                               0 !default;

/// @prop - Min width of the alert button
$button-min-width:                            50% !default;

/// @prop - Minimum height of the alert button
$button-min-height:                           44px !default;

/// @prop - Font size of the alert button
$button-font-size:                            17px !default;

/// @prop - Color of the text in the alert button
$button-text-color:                           color-get(primary, base) !default;

/// @prop - Destructive text color of the alert button
$button-destructive-text-color:               color-get(danger, base) !default;

/// @prop - Background color of the alert button
$button-background-color:                     transparent !default;

/// @prop - Background color alpha of the alert activated button
$button-background-color-alpha-activated:     .1 !default;

/// @prop - Background color of the alert activated button
$button-background-color-activated:           rgba(globals.$theme-text-color-rgb, $button-background-color-alpha-activated) !default;

/// @prop - Border width of the alert button
$button-border-width:                         1px !default;

/// @prop - Border style of the alert button
$button-border-style:                         solid !default;

/// @prop - Border color alpha of the alert button
$button-border-color-alpha:                   .2 !default;

/// @prop - Border color of the alert button
$button-border-color:                         rgba(globals.$theme-text-color-rgb, $button-border-color-alpha) !default;

/// @prop - Border radius of the alert button
$button-border-radius:                        0 !default;

/// @prop - Font weight of the main text on the alert button
$button-main-font-weight:                     bold !default;

/// @prop - Maximum height of the alert content
$content-max-height:                          240px !default;

/// @prop - Margin top of the alert input
$input-margin-top:                            10px !default;

/// @prop - Padding top on the alert input
$input-padding-top:                           6px !default;

/// @prop - Padding end on the alert input
$input-padding-end:                           $input-padding-top !default;

/// @prop - Padding bottom on the alert input
$input-padding-bottom:                        $input-padding-top !default;

/// @prop - Padding start on the alert input
$input-padding-start:                         $input-padding-end !default;

/// @prop - Placeholder Color for input
$input-placeholder-color:                     globals.$placeholder-text-color !default;

/// @prop - Border color of the alert input
$input-border-color:                          globals.$theme-background-color-step-250 !default;

/// @prop - Border of the alert input
$input-border:                                globals.$hairlines-width solid $input-border-color !default;

/// @prop - Border radius of the alert input
$input-border-radius:                         4px !default;

/// @prop - Background color of the alert input
$input-background-color:                      globals.$theme-background-color !default;

/// @prop - Border top of the alert list
$list-border-top:                             $button-border-width $button-border-style $button-border-color !default;

/// @prop - Padding top on the label for the radio alert
$radio-label-padding-top:                     13px !default;

/// @prop - Padding end on the label for the radio alert
$radio-label-padding-end:                     $radio-label-padding-top !default;

/// @prop - Padding bottom on the label for the radio alert
$radio-label-padding-bottom:                  $radio-label-padding-top !default;

/// @prop - Padding start on the label for the radio alert
$radio-label-padding-start:                   $radio-label-padding-end !default;

/// @prop - Text color of the label for the radio alert
$radio-label-text-color:                      globals.$theme-text-color !default;

/// @prop - Text color of the label for the checked radio alert
$radio-label-text-color-checked:              $button-text-color !default;

/// @prop - Min width of the radio alert
$radio-min-width:                             30px !default;

/// @prop - Top of the icon in the radio alert
$radio-icon-top:                              -7px !default;

/// @prop - Start of the icon in the radio alert
$radio-icon-start:                            7px !default;

/// @prop - Width of the icon in the radio alert
$radio-icon-width:                            6px !default;

/// @prop - Height of the icon in the radio alert
$radio-icon-height:                           12px !default;

/// @prop - Border width of the icon in the radio alert
$radio-icon-border-width:                     2px !default;

/// @prop - Border style of the icon in the radio alert
$radio-icon-border-style:                     solid !default;

/// @prop - Border color of the icon in the radio alert
$radio-icon-border-color:                     $button-text-color !default;

/// @prop - Transform of the icon in the radio alert
$radio-icon-transform:                        rotate(45deg) !default;

/// @prop - Height of the tappable inputs in the checkbox alert
$tappable-height:                             item.$min-height !default;