@use "../../scss/globals";


// Card
// --------------------------------------------------

/// @prop - Padding top
$padding-top:               globals.$font-size-base * .2 !default;

/// @prop - Padding end
$padding-end:               globals.$font-size-base * .5 !default;

/// @prop - Padding bottom
$padding-bottom:            $padding-top !default;

/// @prop - Padding start
$padding-start:             $padding-end !default;

/// @prop - Border radius
$border-radius:             globals.$border-radius-lg !default;

/// @prop - Background
$background:                #fff !default;

/// @prop - Box shadow color of the card
$box-shadow-color:           rgba(0, 0, 0, .12) !default;

/// @prop - Box shadow of the card
$box-shadow:                 0 4px 16px $box-shadow-color !default;

/// @prop - Transition
$transition:                 all .4s ease !default;

/// @prop - Font family
$font-family:                globals.$font-family-base !default;

// $card-img-overlay-padding:          1.25rem !default;
// $card-img-height:                   30rem !default;

// $card-group-margin:                 ($grid-gutter-width / 2) !default;
// $card-deck-margin:                  $card-group-margin !default;

// $card-columns-count:                3 !default;
// $card-columns-gap:                  1.25rem !default;
// $card-columns-margin:               $card-spacer-y !default;
