@use "../../scss/globals";


// Button
// --------------------------------------------------

/// @prop - Padding top
$padding-top:               0 !default;

/// @prop - Padding end
$padding-end:               1em !default;

/// @prop - Padding bottom
$padding-bottom:            $padding-top !default;

/// @prop - Padding start
$padding-start:             $padding-end !default;

/// @prop - Minimum width
$min-width:                 10px !default;

/// @prop - Font size
$font-size:                 80% !default;

/// @prop - Font weight
$font-weight:               globals.$font-weight-semibold !default;

/// @prop - Border radius
$border-radius:             globals.$border-radius !default;

/// @prop - Transition
$transition:                color .3s globals.$ease-cubic, background-color .3s globals.$ease-cubic, border-color .3s globals.$ease-cubic, box-shadow .3s globals.$ease-cubic, opacity .3s globals.$ease-cubic !default;

/// @prop - Height
$height:                    2.8em !default;


// Large Button
// --------------------------------------------------

/// @prop - Padding top of the large button
$button-large-padding-top:                        0 !default;

/// @prop - Padding end of the large button
$button-large-padding-end:                        1em !default;

/// @prop - Padding bottom of the large button
$button-large-padding-bottom:                     $button-large-padding-top !default;

/// @prop - Padding start of the large button
$button-large-padding-start:                      $button-large-padding-end !default;

/// @prop - Height of the large button
$button-large-height:                             2.8em !default;

/// @prop - Border radius of the large button
$button-large-border-radius:                      globals.$border-radius !default;

/// @prop - Font size of the large button
$button-large-font-size:                          20px !default;


// Small Button
// --------------------------------------------------

/// @prop - Padding top of the small button
$button-small-padding-top:                        0 !default;

/// @prop - Padding end of the small button
$button-small-padding-end:                        calc(#{globals.$spacer} - 4px) !default;

/// @prop - Padding bottom of the small button
$button-small-padding-bottom:                     $button-small-padding-top !default;

/// @prop - Padding start of the small button
$button-small-padding-start:                      $button-small-padding-end !default;

/// @prop - Height of the small button
$button-small-height:                             2.1em !default;

/// @prop - Border radius of the small button
$button-small-border-radius:                      globals.$border-radius-sm !default;

/// @prop - Font size of the small button
$button-small-font-size:                          13px !default;
