@use "../../scss/globals";
@use "../../scss/functions";

// Range
// --------------------------------------------------

/// @prop - Padding top/bottom of the range
$range-padding-vertical:                  8px !default;

/// @prop - Padding start/end of the range
$range-padding-horizontal:                16px !default;

/// @prop - Height of the range slider
$range-slider-height:                     42px !default;

/// @prop - Width of the area that will select the range knob
$range-hit-width:                         42px !default;

/// @prop - Height of the area that will select the range knob
$range-hit-height:                        $range-slider-height !default;

/// @prop - Height of the range bar
$range-bar-height:                        2px !default;

/// @prop - Background of the range bar
$range-bar-background-color:              rgba(var(--text-color-rgb, 0, 0, 0), .1) !default;

/// @prop - Background of the active range bar
$range-bar-active-background-color:       functions.color-current(base) !default;

/// @prop - Width of the range knob
$range-knob-width:                        24px !default;

/// @prop - Height of the range knob
$range-knob-height:                       $range-knob-width !default;

/// @prop - Box shadow of the range knob
$range-knob-box-shadow:                   0 3px 1px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .13), 0 0 0 1px rgba(0, 0, 0, .02) !default;

/// @prop - Border radius of the range knob
$range-knob-border-radius:                50% !default;

/// @prop - Background of the range knob
$range-knob-background-color:             #fff !default;

/// @prop - Width of the range tick
$range-tick-width:                        $range-bar-height !default;

/// @prop - Height of the range tick
$range-tick-height:                       8px !default;

/// @prop - Border radius of the range tick
$range-tick-border-radius:                0 !default;

/// @prop - Background of the range tick
$range-tick-background-color:             $range-bar-background-color !default;

/// @prop - Background of the active range tick
$range-tick-active-background-color:      $range-bar-active-background-color !default;

/// @prop - Background of the range pin
$range-pin-background-color:              transparent !default;

/// @prop - Color of the range pin
$range-pin-color:                         globals.$theme-text-color !default;

/// @prop - Font size of the range pin
$range-pin-font-size:                     12px !default;

/// @prop - Padding top of the range pin
$range-pin-padding-top:                   8px !default;

/// @prop - Padding end of the range pin
$range-pin-padding-end:                   $range-pin-padding-top !default;

/// @prop - Padding bottom of the range pin
$range-pin-padding-bottom:                $range-pin-padding-top !default;

/// @prop - Padding start of the range pin
$range-pin-padding-start:                 $range-pin-padding-end !default;
