@use "../../scss/globals";

// Row
// --------------------------------------------------

/// @prop - Horizontal gutter
$gutter-x: globals.$default-spacer * .5 !default;

/// @prop - Vertical gutter
$gutter-y: $gutter-x !default;

/// @prop - Margin top
$margin-top:               calc(var(--gutter-y) * -1) !default;

/// @prop - Margin end
$margin-end:               calc(var(--gutter-x) / -2) !default;

/// @prop - Margin bottom
$margin-bottom:            var(--gutter-y) !default;

/// @prop - Margin start
$margin-start:             $margin-end !default;
