@use "../../scss/globals";

// Datepicker
// --------------------------------------------------

/// @prop - Padding top
$padding-top:               globals.$font-size-base * .2 !default;

/// @prop - Padding end
$padding-end:               globals.$font-size-base * .5 !default;

/// @prop - Padding bottom
$padding-bottom:            $padding-top !default;

/// @prop - Padding start
$padding-start:             $padding-end !default;
