.docs-demo {
    --width: 344px;
    --height: 704px;
  
    display: none;
    padding-left: 3rem;
  
    .docs-demo-inner {
      position: sticky;
      top: 0;
      padding-top: 2rem;
    }
  }
  
  @media only screen and (min-width: 1234px) {
    .docs-demo {
      display: block;
    }
  }
  
  .docs-device {
    --border-radius: 50px;
    --border-width: 12px;
  
    display: flex;
    height: var(--height);
    width: var(--width);
    background: var(--color-dark);
    border: var(--border-width) solid var(--color-dark);
    border-radius: var(--border-radius);
  
    .docs-device-inner {
      position: relative;
      background: var(--bkkr-background-color);
      border-radius: calc(var(--border-radius) - var(--border-width));
      width: 100%;
      overflow: hidden;
  
      &::after {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 50%;
        height: 4px;
        width: 32%;
        background-color: var(--bkkr-text-color);
        transform: translateX(-50%);
        border-radius: 4px;
      }
  
      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
  