/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@use './components/code';
@use './components/search';
@use './components/sidebar';
@use './components/table';
@use './components/tabs';


// Custom font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #fa5454;
  --ifm-color-primary-dark: #d43d3d;
  --ifm-color-primary-darker: #ad3a3a;
  --ifm-color-primary-darkest: #6e2525;
  --ifm-color-primary-light: #f76767;
  --ifm-color-primary-lighter: #f88888;
  --ifm-color-primary-lightest: #ff9090;
  --ifm-code-font-size: 95%;
  --ifm-color-black: #393d42;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #fa5454;
  --ifm-color-primary-dark: #d43d3d;
  --ifm-color-primary-darker: #ad3a3a;
  --ifm-color-primary-darkest: #6e2525;
  --ifm-color-primary-light: #f76767;
  --ifm-color-primary-lighter: #f88888;
  --ifm-color-primary-lightest: #ff9090;
}

:root {
  --docsearch-logo-color: var(--ifm-color-primary);

  --ifm-font-family-base: "Montserrat", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-heading-font-weight: 900;
}


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;

  scroll-padding-top: calc(var(--ifm-navbar-height) + 16px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

body {
  margin: 0;
}

.theme-doc-version-banner {
  display: none;
}

.theme-doc-version-badge {
  display: none;
}

figure {
  margin: 0;
}

figure > * {
  display: block;
  margin: 0 auto;
}

figure.device {
  max-width: 400px;
  margin: 0 auto;
}

figcaption {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}