@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";

// Select
// --------------------------------------------------

@use "select.vars" as *;

// Original design
// @use "~choices.js/public/assets/styles/choices.css";

:host {
  /**
   * @prop --padding-top: Top padding of the select
   * @prop --padding-end: Right padding if direction is left-to-right, and left padding if direction is right-to-left of the select
   * @prop --padding-bottom: Bottom padding of the select
   * @prop --padding-start: Left padding if direction is left-to-right, and right padding if direction is right-to-left of the select
   *
   * @prop --placeholder-color: Color of the select placeholder text
   * @prop --placeholder-opacity: Opacity of the select placeholder text
   */
  --placeholder-color: initial;
  --padding-top: #{$padding-top};
  --padding-end: #{$padding-end};
  --padding-bottom: #{$padding-bottom};
  --padding-start: #{$padding-start};

  @include mixins.padding-set(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));

  display: flex;
  position: relative;

  align-items: center;

  font-family: globals.$font-family-base;

  overflow: hidden;
  z-index: globals.$z-index-item-input;
}

:host(.in-item) {
  position: static;

  max-width: 45%;
}

:host(.select-disabled) {
  opacity: .4;
  pointer-events: none;
}

:host(.bkkr-focused) button {
  border: 2px solid #5e9ed6;
}

.select-placeholder {
  transition: var(--placeholder-transition, none);
  transition-delay: var(--placeholder-transition-delay, none);
    
  color: var(--placeholder-color);

  opacity: var(--placeholder-opacity, 0.5);
}

label {
  @include mixins.hide-cover();

  display: flex;

  align-items: center;

  opacity: 0;
}

button {
  @include mixins.hide-visually();
}

.select-icon {
  position: relative;

  width: 12px;
  height: 18px;

  opacity: .33;
}

.select-text {
  flex: 1;

  min-width: 16px;

  font-size: inherit;

  text-overflow: ellipsis;

  white-space: nowrap;

  overflow: hidden;
}

.select-icon-inner {
  @include mixins.position-set(50%, null, null, 0);
  @include mixins.margin-set(-2px, null, null, null);

  position: absolute;

  width: 0;
  height: 0;

  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;

  color: currentColor;

  pointer-events: none;
}