
@use "../../scss/globals";
@use "../item/item.vars" as item;

// Textarea
// --------------------------------------------------

/// @prop - Margin start of the textarea when it is after a label
$by-label-margin-start:         item.$padding-start !default;

/// @prop - Font size of the textarea
$font-size:                     inherit !default;

/// @prop - Margin top of the textarea
$padding-top:                    item.$padding-top !default;

/// @prop - Margin end of the textarea
$padding-end:                    (item.$padding-end / 2) !default;

/// @prop - Margin bottom of the textarea
$padding-bottom:                 item.$padding-bottom !default;

/// @prop - Margin start of the textarea
$padding-start:                  0 !default;

/// @prop - Placeholder text color of the textarea
$placeholder-color:            globals.$placeholder-text-color !default;