
@use "../../scss/globals";
@use "../../scss/functions";

// Nav
// --------------------------------------------------

/// @prop - Padding top on the tab button
$padding-top:               0 !default;

/// @prop - Padding end on the tab button
$padding-end:               2px !default;

/// @prop - Padding bottom on the tab button
$padding-bottom:            $padding-top !default;

/// @prop - Padding start on the tab button
$padding-start:             $padding-end !default;

/// @prop - Max width of the tab button
$max-width:                 240px !default;

/// @prop - Text color of the active tab button
$background-color-hover:    rgba(#{globals.$theme-text-color-rgb}, .1) !default;

/// @prop - Font size of the tab button text
$font-size:                 10px !default;

/// @prop - Size of the tab button icon
$icon-size:                 23px !default;