@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";


// Grid
// --------------------------------------------------

@use "grid.vars" as *;

.grid {
  /**
   * @prop --columns: Adjust column number
   */
  --columns: #{$columns};

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}


// Variants

@each $breakpoint in map-keys(globals.$breakpoint-list) {
  $infix: mixins.breakpoint-breakpoint-infix($breakpoint, globals.$breakpoint-list);

  @include mixins.breakpoint-media-breakpoint-up($breakpoint, globals.$breakpoint-list) {
    @if $columns > 0 {

      // Columns

      @for $i from 1 through $columns {
        .grid#{$infix}-#{$i} {
          --columns: #{$i};
        }
      }
    }
  }
}
