@use "../../scss/globals";
@use "../../scss/functions";

// Floating Action Buttons
// --------------------------------------------------

/// @prop - Width and height of the FAB button
$size:                                                  56px !default;

/// @prop - Width and height of the mini FAB button
$small-size:                                            40px !default;

/// @prop - Border radius of the FAB button
$border-radius:                                         50% !default;

/// @prop - Box shadow of the FAB button
$box-shadow:                                            0 4px 12px #{functions.color-get(globals.$theme-colors, primary, base, .64)} !default;

/// @prop - Box shadow of the activated FAB button
$box-shadow-activated:                                $box-shadow !default;

/// @prop - Transform of the FAB button
$transform:                                           scale(1.1) !default;

/// @prop - Transition of the FAB button
$transition:                                          .2s transform cubic-bezier(.25, 1.11, .78, 1.59) !default;

/// @prop - Transition of the activated FAB button
$transition-activated:                                .2s transform ease-out !default;

/// @prop - Background color of the button
$background-color:                                    functions.color-get(globals.$theme-colors, primary, base) !default;

/// @prop - Background color of the activated button
$background-color-activated:                          functions.color-get(globals.$theme-colors, primary, shade) !default;

/// @prop - Text color of the button
$text-color:                                          functions.color-get(globals.$theme-colors, primary, contrast) !default;

/// @prop - Font size of the button icon
$icon-font-size:                                      28px !default;

/// @prop - Background color of the button in a list
$list-button-background-color:                        functions.color-get(globals.$theme-colors, light, base) !default;

/// @prop - Background color of the activated button in a list
$list-button-background-color-activated:              functions.color-get(globals.$theme-colors, light, shade) !default;

/// @prop - Background color of the hovered button in a list
$list-button-background-color-hover:                  functions.color-get(globals.$theme-colors, light, tint) !default;

/// @prop - Text color of the button in a list
$list-button-text-color:                              functions.color-get(globals.$theme-colors, light, contrast) !default;
