@use "../../scss/globals";
@use "../../scss/functions";
@use "../item/item.vars" as item;

// Input
// --------------------------------------------------

/// @prop - Font size of the input
$font-size:                     inherit !default;

/// @prop - Padding top of the input
$padding-top:                    item.$padding-top !default;

/// @prop - Padding end of the input
$padding-end:                    (item.$padding-end / 2) !default;

/// @prop - Padding bottom of the input
$padding-bottom:                 item.$padding-bottom !default;

/// @prop - Padding start of the input
$padding-start:                  0 !default;

/// @prop - Margin start of the input when it is after a label
$by-label-margin-start:         item.$padding-start !default;

/// @prop - Padding top of the inset input
$inset-padding-top:             (item.$padding-top / 2) !default;

/// @prop - Padding end of the inset input
$inset-padding-end:             (item.$padding-end / 2) !default;

/// @prop - Padding bottom of the inset input
$inset-padding-bottom:          (item.$padding-bottom / 2) !default;

/// @prop - Padding start of the inset input
$inset-padding-start:           (item.$padding-start / 2) !default;

/// @prop - Margin top of the inset input
$inset-margin-top:              (item.$padding-top / 2) !default;

/// @prop - Margin end of the inset input
$inset-margin-end:              item.$padding-end !default;

/// @prop - Margin bottom of the inset input
$inset-margin-bottom:           (item.$padding-bottom / 2) !default;

/// @prop - Margin start of the inset input
$inset-margin-start:            0 !default;

/// @prop - Width of the icon used to clear the input
$input-clear-icon-width:        30px !default;

/// @prop - Color of the icon used to clear the input
$input-clear-icon-color:        globals.$theme-text-color-step-400 !default;

/// @prop - Icon used to clear the input
$input-clear-icon-svg:          "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='" + $input-clear-icon-color + "' d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>" !default;

/// @prop - Size of the icon used to clear the input
$input-clear-icon-size:         18px !default;

/// @prop - Padding end of the input with clear input
$input-clear-padding-end:       ($input-clear-icon-width + item.$padding-end) !default;

/// @prop - Placeholder Text color of the input
$placeholder-color:              globals.$placeholder-text-color !default;

/// @prop - Show the focus highlight when the input has focus
$show-focus-highlight:          false !default;

/// @prop - Show the valid highlight when it is valid and has a value
$show-valid-highlight:          $show-focus-highlight !default;

/// @prop - Show the invalid highlight when it is invalid and has value
$show-invalid-highlight:        $show-focus-highlight !default;

/// @prop - Color of the input highlight
$highlight-color:               functions.color-get(globals.$theme-colors, primary, base) !default;

/// @prop - Color of the input highlight when valid
$highlight-color-valid:         functions.color-get(globals.$theme-colors, success, base) !default;

/// @prop - Color of the input highlight when invalid
$highlight-color-invalid:       functions.color-get(globals.$theme-colors, danger, base) !default;
