@use "../../scss/globals";

// Spinner
// --------------------------------------------------

/// @prop - Width
$width:         28px !default;

/// @prop - Height
$height:        $width !default;

/// @prop - Accent color of spinners
$color:   var(--color-base, currentColor) !default;
