@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";


// Navs
// --------------------------------------------------

@use "navs.vars" as *;

.navs {
  /**
   * @prop --color: Color of the tab bar
   * @prop --color-selected: Selected color of the tab bar
   */
  --color: #{$text-color};
  --color-selected: #{$text-color-selected};

  @include mixins.padding-set-horizontal(var(--safe-area-left), var(--safe-area-right));
  @include mixins.margin-set(null, auto, 0);
  
  display: flex;

  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;

  width: auto;
  max-width: 720px;

  height: 100%;

  list-style: none;

  text-align: center;

  user-select: none;
  z-index: globals.$z-index-toolbar;

  /* stylelint-disable-next-line declaration-no-important */
  box-sizing: content-box !important;
}

:host(.nav-bar-hidden) {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

