@use "../../scss/globals";

// Progress bar
// --------------------------------------------------

/// @prop - Height
$height:                   4px !default;

/// @prop - Border color
$border-color:              transparent !default;

/// @prop - Border radius
$border-radius:             0 !default;

/// @prop - Box shadow
$box-shadow:                inset 0 .1rem .1rem rgba(0, 0, 0, .1) !default;

/// @prop - Transition
$bar-transition:            width .6s ease !default;

/// @prop - Background
$background:                var(--color-light) !default;
