@use "../../scss/globals";

// Popover
// --------------------------------------------------

/// @prop - Text color of the popover content
$text-color:                              globals.$theme-text-color !default;

/// @prop - Background color of the popover content
$background-color:                        globals.$theme-background-color !default;

/// @prop - Width of the popover content
$width:                                   calc(100% - var(--bkkr-spacer)) !default;

/// @prop - Maximum height of the popover content
$max-height:                              90% !default;

/// @prop - Border radius of the popover content
$border-radius:                           32px !default;

/// @prop - Color of backdrop
$backdrop-color:                          var(--bkkr-backdrop-color, #000) !default;
