@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";


// Popover
// --------------------------------------------------

@use "popover.vars" as *;

:host {
  /**
   * @prop --background: Background of the popover
   * @prop --box-shadow: Box shadow of the popover
   *
   * @prop --min-width: Minimum width of the popover
   * @prop --width: Width of the popover
   * @prop --max-width: Maximum width of the popover
   *
   * @prop --min-height: Minimum height of the popover
   * @prop --height: Height of the popover
   * @prop --max-height: Maximum height of the popover
   *
   * @prop --bkkr-backdrop-opacity: Opacity of the backdrop
   */
  --background: #{$background-color};
  --min-width: 0;
  --min-height: 0;
  --max-width: auto;
  --height: auto;
  --width: #{$width};
  --max-height: #{$max-height};
  --box-shadow: none;
  --backdrop-opacity: var(--bkkr-backdrop-opacity, .08);

  @include mixins.position-set(0, 0, 0, 0);

  display: flex;

  position: fixed;

  align-items: center;
  justify-content: center;

  outline: none;

  color: $text-color;

  z-index: globals.$z-index-overlay;
}

:host(.overlay-hidden) {
  display: none;
}

.popover-wrapper {
  opacity: 0;
  z-index: globals.$z-index-overlay-wrapper;
}

.popover-content {
  @include mixins.border-radius-set($border-radius);
  display: flex;
  position: absolute;

  flex-direction: column;

  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);

  height: var(--height);
  min-height: var(--min-height);
  max-height: var(--max-height);

  background: var(--background);

  box-shadow: var(--box-shadow);

  overflow: auto;
  z-index: globals.$z-index-overlay-wrapper;
}

.popover-viewport {
  --safe-area-top: 0;
  --safe-area-right: 0;
  --safe-area-bottom: 0;
  --safe-area-left: 0;
}


// Popover Arrow
// -----------------------------------------

.popover-arrow {
  display: block;
  position: absolute;

  width: 20px;
  height: 10px;

  overflow: hidden;
}

.popover-arrow::after {
  @include mixins.position-set(3px, null, null, 3px);
  @include mixins.border-radius-set(3px);
  position: absolute;

  width: 14px;
  height: 14px;

  transform: rotate(45deg);

  background: var(--background);

  content: "";
  z-index: globals.$z-index-overlay-wrapper;
}

:host(.popover-bottom) .popover-arrow {
  top: auto;
  bottom: -10px;
}

:host(.popover-bottom) .popover-arrow::after {
  top: -6px;
}
