@use "../../scss/globals";


// Shape
// --------------------------------------------------

// Sizes
$sizes: (
  (
    small: 32px,
    avatar: 48px,
    default: 125px,
    large: 176px
  )
) !default;

/// @prop - Border radius
$border-radius:             globals.$border-radius !default;
