@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";


// Backdrop
// --------------------------------------------------

.backdrop {
  @include mixins.position-set(0, 0, 0, 0);
  display: block;
  position: absolute;

  transform: translateZ(0);

  background-color: var(--bkkr-backdrop-color, #000);

  contain: strict;
  cursor: pointer;
  opacity: 0;
  touch-action: none;
  z-index: globals.$z-index-backdrop;
}
