@use "../../scss/globals";


// Flex columns
// --------------------------------------------------

/// @prop - Number of columns
$columns:                       globals.$columns !default;

/// @prop - Margin top
$margin-top:               var(--gutter-y) !default;

/// @prop - Margin end
$margin-end:               null !default;

/// @prop - Margin bottom
$margin-bottom:            null !default;

/// @prop - Margin start
$margin-start:             var(--offset, 0) !default;

/// @prop - Padding top
$padding-top:               null !default;

/// @prop - Padding end
$padding-end:               calc(var(--gutter-x) / 2) !default;

/// @prop - Padding bottom
$padding-bottom:            null !default;

/// @prop - Padding start
$padding-start:             $padding-end !default;
