@use "../../scss/globals";

// Footer
// --------------------------------------------------

/// @prop - Padding top
$padding-top:               0 !default;

/// @prop - Padding end
$padding-end:               0 !default;

/// @prop - Padding bottom
$padding-bottom:            $padding-top !default;

/// @prop - Padding start
$padding-start:             $padding-end !default;
