@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";


// Radio
// --------------------------------------------------

@use "radio.vars" as *;

:host {
  /**
   * @prop --color: Color of the radio
   * @prop --color-checked: Color of the checked radio
   * @prop --border-radius: Border radius of the radio
   */
  --border-radius: 50%;
  --color: #{$color};
  --color-checked: #{$color-checked};
  --mark-background: #{$mark-background-color};
  --mark-box-shadow: #{$mark-box-shadow};
  --mark-transition: #{$transition};
  display: inline-block;
  position: relative;

  width: $width;
  height: $height;

  user-select: none;

  z-index: globals.$z-index-item-input;
  box-sizing: border-box;
}

:host(.radio-disabled) {
  pointer-events: none;

  opacity: $disabled-opacity;
}

.radio-button {
  @include mixins.border-radius-set(var(--border-radius));

  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--color);

  contain: layout size style;
}

.radio-button,
.radio-mark {
  box-sizing: border-box;
}

label {
  @include mixins.hide-cover();
  @include mixins.margin-set-horizontal(0, null);

  display: flex;

  align-items: center;

  opacity: 0;
}

input {
  @include mixins.hide-visually();
}

:host(:focus) {
  outline: none;
}

// Radion mark
// -----------------------------------------

.radio-mark {
  @include mixins.border-radius-set(var(--border-radius));
  width: 100%;
  height: 100%;

  transition: var(--mark-transition);

  background-color: var(--mark-background);

  box-shadow: var(--mark-box-shadow);
}

:host(.radio-checked) {
  .radio-button {
    background-color: var(--color-checked);
  }

  .radio-mark {
    transform: scale(.5);
  }
}

// Radio Within An Item
// -----------------------------------------

:host(.in-item) {
  @include mixins.margin-set($item-end-margin-top, $item-end-margin-end, $item-end-margin-bottom, $item-end-margin-start);

  display: block;
  position: static;
}

:host(.in-item[slot="start"]) {
  @include mixins.margin-set($item-start-margin-top, $item-start-margin-end, $item-start-margin-bottom, $item-start-margin-start);
}
