@use "../../scss/globals";

// Drawer
// --------------------------------------------------

/// @prop - Min width of the drawer inset
$drawer-inset-min-width:         768px !default;

/// @prop - Minimum height of the small drawer inset
$drawer-inset-min-height-small:  600px !default;

/// @prop - Minimum height of the large drawer inset
$drawer-inset-min-height-large:  768px !default;

/// @prop - Width of the large drawer inset
$drawer-inset-width:             600px !default;

/// @prop - Height of the small drawer inset
$drawer-inset-height-small:      500px !default;

/// @prop - Height of the large drawer inset
$drawer-inset-height-large:      600px !default;

/// @prop - Background
$background-color:              var(--bkkr-background-color) !default;

/// @prop - Border radius
$border-radius:                 globals.$border-radius-lg !default;
