@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";


// Toast
// --------------------------------------------------

@use "toast.vars" as *;

:host {
  /**
   * @prop --background: Background of the toast
   * @prop --color: Color of the toast text
   *
   * @prop --border-color: Border color of the toast
   * @prop --border-radius: Border radius of the toast
   * @prop --border-width: Border width of the toast
   * @prop --border-style: Border style of the toast
   *
   * @prop --white-space: White space of the toast message
   *
   * @prop --box-shadow: Box shadow of the toast
   *
   * @prop --min-width: Minimum width of the toast
   * @prop --width: Width of the toast
   * @prop --max-width: Maximum width of the toast
   *
   * @prop --min-height: Minimum height of the toast
   * @prop --height: Height of the toast
   * @prop --max-height: Maximum height of the toast
   *
   * @prop --button-color: Color of the button text
   *
   * @prop --start: Position from the left if direction is left-to-right, and from the right if direction is right-to-left
   * @prop --end: Position from the right if direction is left-to-right, and from the left if direction is right-to-left
   */
  --border-width: 0;
  --border-style: none;
  --border-color: initial;
  --box-shadow: 0 0 30px 10px rgba(0, 0, 0, .1);
  --min-width: auto;
  --width: auto;
  --min-height: auto;
  --height: auto;
  --max-height: auto;
  --white-space: pre-wrap;
  --background: #{$toast-background-color};
  --border-radius: #{$toast-border-radius};
  --button-color: #{$toast-button-color};
  --color: #{$toast-title-color};
  --max-width: #{$toast-max-width};
  --start: calc(#{globals.$spacer} / 2);
  --end: var(--start);

  @include mixins.position-set(0, null, null, 0);

  display: block;

  position: absolute;

  width: 100%;
  height: 100%;

  outline: none;

  color: var(--color);

  font-family: globals.$font-family-base;
  font-size: $toast-content-font-size;

  contain: strict;
  z-index: globals.$z-index-toast;
  pointer-events: none;
}

.toast.overlay-hidden {
  display: none;
}


//

:host(.bkkr-color) {
  --button-color: inherit;

  color: #{current-color(contrast)};
}

:host(.bkkr-color) .toast-button-cancel {
  color: inherit;
}

:host(.bkkr-color) .toast-wrapper {
  background: #{current-color(base)};
}

//

.toast-wrapper {
  @include mixins.border-radius-set(var(--border-radius));
  @include mixins.position-set(null, var(--end), null, var(--start));
  @include mixins.margin-set(auto);
  display: block;

  position: absolute;

  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);

  height: var(--height);
  min-height: var(--min-height);
  max-height: var(--max-height);

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  background: var(--background);

  box-shadow: var(--box-shadow);
}

.toast-container {
  display: flex;

  align-items: center;

  height: inherit;
  min-height: inherit;
  max-height: inherit;
  pointer-events: auto;

  contain: content;
}

.toast-content {
  @include mixins.padding-set($toast-content-padding-top, $toast-content-padding-end, $toast-content-padding-bottom, $toast-content-padding-start);
  display: flex;

  flex: 1;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.toast-header {
  margin-bottom: $toast-header-margin-bottom;

  font-weight: $toast-header-font-weight;
}

.toast-message {
  flex: 1;

  white-space: var(--white-space);
}

.toast-button-group {
  display: flex;
}

.toast-button {
  border: 0;

  outline: none;

  color: var(--button-color);

  z-index: 0;
}

.toast-icon {
  font-size: 1.4em;
}

.toast-button-inner {
  display: flex;

  align-items: center;
}

.toast-wrapper.toast-top {
  top: 0;

  transform: translate3d(0, -100%, 0);
}

.toast-wrapper.toast-middle {
  opacity: .01;
}

.toast-wrapper.toast-bottom {
  bottom: 0;

  transform: translate3d(0, 100%, 0);
}


// Toast Button: Hover
// --------------------------------------------------

@media (any-hover: hover) {
  .toast-button:hover {
    cursor: pointer;
  }
}
