@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";

//
// Root
// --------------------------------------------------

.root {
  @include mixins.position-set(0, 0, 0, 0);

  display: flex;
  position: absolute;

  flex-direction: column;
  justify-content: space-between;

  background-color: var(--bkkr-background-color);

  contain: layout size style;
  overflow: hidden;
  z-index: 0;
}


// Safe area handling

.root bkkr-header:first-of-type {
  --padding-top: var(--safe-area-top);
}

.root bkkr-content:first-child {
  --padding-top: var(--safe-area-top);
}

.root bkkr-content:last-child {
  --padding-bottom: var(--safe-area-bottom);
}

.root bkkr-footer:last-of-type {
  --padding-bottom: var(--safe-area-bottom);
}
