@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/globals";


// Breadcrumbs
// ---------------------------

@use "breadcrumb.vars" as *;

.breadcrumb {
  /**
   * @prop --background: Background of the badge
   * @prop --color: Text color of the badge
   *
   * @prop --padding-top: Top padding of the badge
   * @prop --padding-end: Right padding if direction is left-to-right, and left padding if direction is right-to-left of the badge
   * @prop --padding-bottom: Bottom padding of the badge
   * @prop --padding-start: Left padding if direction is left-to-right, and right padding if direction is right-to-left of the badge
   */
  --background: #{functions.color-get(globals.$theme-colors, light, base)};
  --color: #{functions.color-get(globals.$theme-colors, light, contrast)};
  --padding-top: #{$padding-top};
  --padding-end: #{$padding-end};
  --padding-bottom: #{$padding-bottom};
  --padding-start: #{$padding-start};
  --border-radius: #{$border-radius};

  @include mixins.border-radius-set(var(--border-radius));
  @include mixins.padding-set(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));

  min-width: $min-width;

  background: var(--background);

  font-family: globals.$font-family-base;
  font-size: $font-size;
  font-weight: $font-weight;

  list-style: none;

  contain: content;
}

.breadcrumb-inner {
  display: flex;

  flex-wrap: wrap;
}

.breadcrumb-item {
  @include mixins.margin-set-horizontal(null, .25rem);

  display: inline-flex;

  align-items: center;

  line-height: 1;
}

bkkr-icon {
  @include mixins.margin-set-horizontal(.25rem, null);
}
